# General Model
django >3.2,<3.3
python-decouple
pillow
djangorestframework-simplejwt
djangorestframework

# Date Time Module
jdatetime
jalali_core
drf-yasg
django-mail-templated
django-filter
markdown
pytest
pytest-django
faker
requests
django-cors-headers
locust


# Background Process and Cache

celery
redis
django-redis