{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-12" style="margin: 3rem;text-align: center;">
    <!-- Featured blog post-->
    {% for post in posts %}
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" style="max-width: 60%;margin: 2rem 8rem !important;max-height: 30rem;border-radius: 10px;" src="{{ post.image.url }}" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{ post.published_date }}</div>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            <a class="btn btn-primary" href="/">بازگشت به خانه→</a>
        </div>
    </div>
    {% endfor %}
</div>

<section dir="rtl">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-body">
            {% for comment in comments %}
            <div class="card-body p-4" style="box-shadow: 0 0 3px 0 black;margin: 1rem;">
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{ comment.user.image.url }}" alt="avatar" width="60"
                  height="60" style="margin: 0.5rem;"/>
                <div>
                  <h6 class="fw-bold mb-1">{{ comment.user.first_name }}</h6>
                  <div class="d-flex align-items-center mb-3">
                    <p class="mb-0">{{ comment.created_date }}</p>
                  </div>
                  <p class="mb-0">{{ comment.text }}</p>
                </div>
              </div>
              <!-- لایک کامنت -->
            <div style="width: 2%;height: auto;margin: 0 auto;"> <i class='bx bxs-like like-icon' style="float: left;font-size: 30px;cursor: pointer;" data-id="{{ comment.id }}"></i>
                <h6>{{ comment.liked.count }}</h6></div>
            </div>
            {% endfor %}
            <hr class="my-0" />
          </div>
        </div>
      </div>
    </div>
</section>



{% endblock %}
{% block js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function() {
    var userId = '{{ user.id }}';  // شناسه کاربر

    // دریافت وضعیت لایک‌ها
    $.ajax({
        type: 'GET',
        url: "{% url 'CheckLikePost' %}",
        data: {
            user: userId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            response.likedComments.forEach(function(commentId) {
                $('.like-icon[data-id="' + commentId + '"]').css('color', 'red');
            });
        }
    });

    // مدیریت کلیک روی آیکون لایک
    $('.like-icon').click(function() {
        var commentId = parseInt($(this).data('id'));
        var userId = '{{ user.id }}';  // شناسه کاربر

        $.ajax({
            type: 'POST',
            url: "{% url 'LikeComment' %}",
            data: {
                user: userId,
                comment: commentId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(json) {
                if (json.isLiked) {
                    $(this).css('color', 'red');
                } else {
                    $(this).css('color', 'black');
                }
                location.reload()
            },
            error: function(err) {
                console.log(err);
            }
        });
    });
});
</script>
{% endblock %}
