{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-12" style="margin: 3rem;text-align: center;">
    <!-- Featured blog post-->
    {% for post in posts %}
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" style="max-width: 60%;margin: 2rem 8rem !important;max-height: 30rem;border-radius: 10px;" src="{{ post.image.url }}" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{ post_published_date }}</div>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            <a class="btn btn-primary" href="/">بازگشت به خانه→</a>
        </div>
    </div>
</div>

<section dir="rtl">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-body">
            {% for comment in comments %}
            <div class="card-body p-4" style="box-shadow: 0 0 3px 0 black;margin: 1rem;">
              {% if comment.user == prf %}
              <i class="fa-solid fa-trash DeleteComment" data-id="{{ comment.id }}" style="color: red;cursor: pointer;float: left;font-size: 20px;"></i>
              {% endif %} 
              <div class="d-flex flex-start">
 
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{ comment.user.image.url }}" alt="avatar" width="60"
                  height="60" style="margin: 0.5rem;"/>
                <div>
                  <h6 class="fw-bold mb-1">{{ comment.user.first_name }}</h6>
               
                  <div class="d-flex align-items-center mb-3">
                    <p class="mb-0">{{ comment_created_date }}</p>
                  </div>
                  <p class="mb-0">{{ comment.text }}</p>
                </div>
              </div>

              <!-- لایک کامنت -->
            <div style="width: 2%;height: auto;margin: 0 auto;"> <i class='bx bxs-like like-icon' style="float: left;font-size: 30px;cursor: pointer;" data-id="{{ comment.id }}"></i>
                <h6>{{ comment.liked.count }}</h6>
                <span class="star-add" style="font-size: 30px;color: yellow;transition: color 0.2s;margin-right: -8px;">&#9733;</span>

                {{ comment.star }}
  </div>
            </div>
            {% endfor %}
            <hr class="my-0" />
          </div>
        </div>
      </div>
    </div>
</section>

<section  dir="rtl">
  <div class="container my-5 py-5 text-body">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF5-3YjBcXTqKUlOAeUUtuOLKgQSma2wGG1g&s" alt="avatar" width="65"
                height="65" />
              <div class="w-100">
                <h5 style="margin-right: 20px;">نظر شما چیست ؟</h5>
                  <form method="POST"  action="{% url 'AddComment' pk=post.id %}">
                    {% csrf_token %}
                  <div id="star-rating">
                    <span class="star-add" data-value="1">&#9733;</span>
                    <span class="star-add" data-value="2">&#9733;</span>
                    <span class="star-add" data-value="3">&#9733;</span>
                    <span class="star-add" data-value="4">&#9733;</span>
                    <span class="star-add" data-value="5">&#9733;</span>
                </div>
                <input type="hidden" id="rating" name="star" value="0">
                <div data-mdb-input-init class="form-outline">
                  <textarea class="form-control" id="textAreaExample" name="comment" rows="4"></textarea>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger">
                    ارسال
                  </button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  
</section>



{% endblock %}
{% block js %}

<script src="{% static 'js/jquery.js' %}"></script>

<script>
  $(document).ready(function() {
    var userId = '{{ user.id }}';

    $.ajax({
        type: 'GET',
        url: "{% url 'CheckLikePost' %}",
        data: {
            user: userId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            response.likedComments.forEach(function(commentId) {
                $('.like-icon[data-id="' + commentId + '"]').css('color', 'red');
            });
        }
    });

    $('.like-icon').click(function() {
        var commentId = parseInt($(this).data('id'));
        var userId = '{{ user.id }}';

        $.ajax({
            type: 'POST',
            url: "{% url 'LikeComment' %}",
            data: {
                user: userId,
                comment: commentId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(json) {
                if (json.isLiked) {
                    $(this).css('color', 'red');
                } else {
                    $(this).css('color', 'black');
                }
                location.reload();
            },
            error: function(err) {
                console.log(err);
            }
        });
    });

    $('.star-add').each(function() {
        var stars = $(this).closest('.card').find('.star-add');
        const ratingInput = $(this).closest('form').find('input[name="star"]');

        $(this).on('mouseover', function() {
            const value = $(this).data('value');
            stars.each(function(index) {
                if (index < value) {
                    $(this).addClass('hover');
                } else {
                    $(this).removeClass('hover');
                }
            });
        });

        $(this).on('mouseout', function() {
            stars.removeClass('hover');
        });

        $(this).on('click', function() {
            const value = $(this).data('value');
            ratingInput.val(value);

            stars.removeClass('selected');
            stars.each(function(index) {
                if (index < value) {
                    $(this).addClass('selected');
                }
            });
        });
    });
});

</script>
<script>
$('.DeleteComment').on('click', function() {
    var result = confirm('آیا از حذف کامنت خود اطمینان دارید؟');
    console.log(result);
    
    var commentId = $(this).data('id');
    var deleteCommentUrl = "{% url 'DeleteComment' pk='0' %}";

    if (result) {
        window.location.href = deleteCommentUrl.replace('0', commentId)
    } else {
        console.log('cancel');
    }
});

</script>
{% endblock %}
